---
import PageLayout from "~/layouts/PageLayout.astro";
import { getCollection } from "astro:content";

let blogPosts = await getCollection("blog", ({ data }) => {
  return data.isDraft !== true;
});

blogPosts = blogPosts.sort((a, b) => {
  return (
    new Date(b.data.publishDate).valueOf() -
    new Date(a.data.publishDate).valueOf()
  );
});
---

<PageLayout
  seo={{
    title: "Nirjan's Tech blog focusing on coding and making web apps",
    description:
      "I write about different web technologies like HTML, CSS, JavaScript, Svelte, Vue, Storybook, Node.js, SVG, WebGL, web animation and best coding practices.",
    canonical: "https://nirjan.dev/blog",
    openGraph: {
      basic: {
        title: "Nirjan Khadka's Blog",
        type: "website",
        image: "https://nirjan.dev/images/og-image.jpeg",
        url: "https://nirjan.dev/blog",
      },
    },
  }}
>
  <h1 class="text-3xl md:text-4xl font-bold mb-6 text-center">
    Welcome to my blog
  </h1>

  <ul class="grid gap-4 max-w-prose mx-auto">
    {
      blogPosts.map((post) => (
        <li>
          <div class="p-2 grid gap-2 rounded-lg h-full">
            <h3 class="text-xl text-blue-600 font-bold">
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h3>
            <p>{new Date(post.data.publishDate).toLocaleDateString()}</p>
          </div>
        </li>
      ))
    }
  </ul>
</PageLayout>
