---
import PageLayout from "~/layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { personSchema } from "~/utils/personSchema";

let blogPosts = await getCollection("blog", ({ data }) => {
  return data.isDraft !== true;
});

blogPosts = blogPosts.sort((a, b) => {
  return (
    new Date(b.data.publishDate).valueOf() -
    new Date(a.data.publishDate).valueOf()
  );
});

const allTags = blogPosts.map((post) => post.data.tags).flat();
const uniqueTags = [...new Set(allTags)];
---

<PageLayout
  seo={{
    title: "Nirjan's Coding & Tech Blog",
    description:
      "I write about building fast, secure and user-friendly apps on the web and cover different web technologies like HTML & CSS, JavaScript, TypeScript, Svelte, React.js, Golang, Postgres & SQLite.",
    canonical: "https://nirjan.dev/blog",
    openGraph: {
      basic: {
        title: "Nirjan Khadka's Blog",
        type: "website",
        image: "https://nirjan.dev/images/site-og.png",
        url: "https://nirjan.dev/blog",
      },
    },
  }}
  schemaGraphItems={[
    {
      "@type": "Blog",
      url: "https://nirjan.dev/blog",
      name: "Nirjan's Coding & Tech Blog",
      description:
        "I write about building fast, secure and user-friendly apps on the web and cover different web technologies like HTML & CSS, JavaScript, TypeScript, Svelte, React.js, Golang, Postgres & SQLite.",
      inLanguage: "en-US",
      dateModified: new Date(
        blogPosts[0].data.updateDate ?? blogPosts[0].data.publishDate
      ).toISOString(),
      author: personSchema,
    },
  ]}
>
  <h1 class="text-3xl md:text-4xl font-bold mb-6 text-center">
    Welcome to Nirjan's blog
  </h1>

  <p class="text-center text-lg">
    I've written about the following topics:

    <ul
      class="mb-6 flex flex-wrap py-4 px-2 max-w-prose mx-auto gap-2 justify-center"
    >
      {
        uniqueTags.map((tag) => (
          <li>
            <a class="uppercase px-1 rounded" href={`/blog/tags/${tag}`}>
              #{tag}
            </a>
          </li>
        ))
      }
    </ul>
  </p>

  <section class="max-w-prose mx-auto py-6">
    <h2 class="text-2xl font-bold mb-2">All Posts</h2>
    <ul class="grid gap-4">
      {
        blogPosts.map((post) => (
          <li>
            <div class="p-2 grid gap-2 rounded-lg h-full">
              <h3 class="text-xl text-blue-600 font-bold">
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
              </h3>
              <p>{new Date(post.data.publishDate).toLocaleDateString()}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
