---
import { getEntry } from "astro:content";
import { getEntries } from "astro:content";
import PageLayout from "~/layouts/PageLayout.astro";

let featuredPostsCollection = await getEntry("featured", "index");

let featuredPosts = await getEntries(
  featuredPostsCollection.data.featuredPosts
);
---

<PageLayout
  seo={{
    title: "Nirjan Khadka | Fullstack Product Developer",
    description:
      "Building apps on the web that are fast, user friendly, accessible and secure. I work with Typescript, React.js, Svelte, Golang, Postgres and SQLite",
    canonical: "https://nirjan.dev",
    openGraph: {
      basic: {
        title: "Nirjan Khadka's Coding & Tech Blog",
        type: "website",
        image: "https://nirjan.dev/images/site-og.png",
        url: "https://nirjan.dev",
      },
    },
  }}
>
  <h1 class="lg:text-6xl text-4xl font-bold mb-6">Hi, I'm Nirjan&nbsp;👋🏽</h1>

  <p class="text-xl lg:text-2xl max-w-prose mb-6 lg:mb-12">
    I build software that's <strong class="text-copy-50 underline">fast</strong>, <strong
      class="text-copy-50 underline">user-friendly</strong
    > and <strong class="text-copy-50 underline">secure</strong>. My focus is on
    solving real user problems with solid programming fundamentals.
    <br /><br />

    I have experience in fullstack web apps, SEO-optimized websites,
    user-friendly mobile apps, and intuitive CLI tools. So Let's find how we can deliver the<strong
      class="text-copy-50 underline"
    >
        best experience
    </strong> for your users.
  </p>

  <a
    class="inline-block py-2 lg:py-4 font-semibold bg-primary-700 px-3 lg:px-6 rounded-md text-copy-300 text-lg lg:text-xl focus:text-copy-50 focus:bg-primary-600 hover:text-copy-50 hover:bg-primary-600 transition-colors"
    href="/contact">Let's work together</a
  >

  <section class="py-12 lg:py-20 pb-6 lg:pb-12">
    <h2 class="text-2xl font-bold mb-3">Featured Posts</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-4 mb-4">
      {
        featuredPosts.map((post) => (
          <li>
            <div class="py-6 px-8 bg-background-950 shadow-lg shadow-background-950/20 grid gap-2 rounded-lg h-full">
              <h3 class="text-xl font-bold">
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
              </h3>
              <p>{post.data.excerpt}</p>
              <p>{new Date(post.data.publishDate).toLocaleDateString()}</p>
            </div>
          </li>
        ))
      }
    </ul>
    <a
      href="/blog"
      class="inline-block py-4 font-semibold border-4 focus:text-copy-50 focus:bg-primary-600 hover:text-copy-50 hover:bg-primary-600 transition-colors border-primary-700 px-6 rounded-md text-copy-300"
      >View all posts</a
    >
  </section>
</PageLayout>
