---
import { getEntry } from "astro:content";
import { getEntries } from "astro:content";
import PageLayout from "~/layouts/PageLayout.astro";

let featuredPostsCollection = await getEntry("featured", "index");

let featuredPosts = await getEntries(
  featuredPostsCollection.data.featuredPosts
);
---

<PageLayout
  seo={{
    title: "Nirjan Khadka | Developer specializing in Web and Mobile App",
    description:
      "I make websites and applications that are fast, user friendly and accessible. I work with modern JavaScript, CSS, HTML, Vue, Svelte, React and Node.js",
    canonical: "https://nirjan.dev",
    openGraph: {
      basic: {
        title: "Nirjan Khadka's Personal site about coding and tech",
        type: "website",
        image: "https://nirjan.dev/images/blog-image.jpeg",
        url: "https://nirjan.dev",
      },
    },
  }}
>
  <h1 class="lg:text-6xl text-3xl font-bold mb-6">Hi, I'm Nirjan.</h1>

  <p class="text-lg max-w-prose mb-12">
    I am fullstack product developer who makes web & mobile apps that are fast,
    user friendly and accessible. I am currently building <a
      class="font-semibold"
      href="https://remotedevjobs.net/"
    >
      the best place to find remote dev jobs
    </a>.
  </p>

  <h2 class="text-2xl font-bold mb-3">Featured Posts</h2>
  <ul class="grid grid-cols-1 md:grid-cols-3 gap-8 py-4 mb-4">
    {
      featuredPosts.map((post) => (
        <li>
          <div class="py-6 px-8 bg-primary-950 grid gap-2 rounded-lg h-full">
            <h3 class="text-xl font-bold">
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h3>
            <p>{post.data.excerpt}</p>
            <p>{new Date(post.data.publishDate).toLocaleDateString()}</p>
          </div>
        </li>
      ))
    }
  </ul>

  <a
    href="/blog"
    class="inline-block py-4 font-semibold bg-primary-700 px-6 rounded-md text-copy-300"
    >View all posts</a
  >
</PageLayout>
