---
import { Icon } from "astro-icon/components";

const socialLinks = [
  {
    name: "Github",
    url: "https://github.com/nirjan-dev",
    icon: "mdi:github",
  },
  {
    name: "Twitter",
    url: "https://bsky.app/profile/nirjan.dev",
    icon: "line-md:bluesky-filled",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/nirjankhadka",
    icon: "mdi:linkedin",
  },
  {
    name: "RSS",
    url: "/rss.xml",
    icon: "mdi:rss",
  },
];
---

<footer class="bg-primary-950 mt-8 text-copy-300 py-4 md:py-6 px-2">
  <div class="container mx-auto text-center">
    <ul class="flex items-center justify-center">
      {
        socialLinks.map((link) => (
          <li>
            <a
              class="px-3 py-2 leading-none text-xl  md:text-2xl inline-block"
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="sr-only">{link.name}</span>
              <Icon name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>
    <p>© 2018-present Nirjan Khadka. All Rights Reserved.</p>
  </div>
</footer>
