---
import { Image } from "astro:assets";
import logo from "~/assets/img/logo.svg";
---

<div id="main-nav-headroom" class="bg-background-950">
  <div class="container flex justify-between mx-auto py-6 px-4">
    <a href="/">
      <Image loading="eager" height={30} src={logo} alt="Nirjan logo" />
    </a>
    <nav>
      <ul class="flex gap-10">
        <li>
          <a class="text-primary-300 font-bold text-lg" href="/blog">Blog</a>
        </li>
        <li>
          <a class="text-primary-300 font-bold text-lg" href="/tools">Tools</a>
        </li>
        <li>
          <a class="text-primary-300 font-bold text-lg" href="/contact"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>

<script>
  import Headroom from "headroom.js";

  const headroomElement = document.getElementById("main-nav-headroom");

  if (headroomElement) {
    const headroom = new Headroom(headroomElement);
    headroom.init();
  }
</script>

<style>
  .headroom {
    @apply will-change-transform transition-transform shadow-lg fixed top-0 z-50 left-0 w-full;
  }
  .headroom--pinned {
    @apply translate-y-0;
  }
  .headroom--unpinned {
    @apply -translate-y-full;
  }
</style>
