---

---

<div
  class="prose
  prose-a:text-secondary-400 text-copy-500 prose-headings:no-underline prose-headings:text-copy-50 prose-img:rounded-xl prose-blockquote:text-copy-50 prose-strong:text-copy-50 prose-code:text-copy-50"
>
  <slot />
</div>
