---
import Header from "~/components/Header.astro";
import "@fontsource-variable/nunito";
import { SEO, type SEOProps } from "astro-seo";
import type { Thing } from "schema-dts";
import { Schema } from "astro-seo-schema";

interface Props {
  seo?: SEOProps;
  schemaGraphItems?: Thing[];
}

const { seo, schemaGraphItems } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Nirjan's Blog"
      href={new URL("rss.xml", Astro.site)}
    />

    {seo && <SEO {...seo} />}

    <Schema
      item={{
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "WebSite",
            "@id": "https://nirjan.dev",
            url: "https://nirjan.dev",
            name: "Nirjan's Personal site",
            description:
              "Personal site and blog about coding and tech by Nirjan",
          },
          ...(schemaGraphItems?.length ? schemaGraphItems : []),
        ],
      }}
    />
  </head>
  <body class="bg-background-800 text-copy-400">
    <Header />
    <div class="container mx-auto px-4 py-3 mt-20 md:mt-28">
      <main id="main-content">
        <slot />
      </main>
    </div>
    <style is:global>
      a {
        @apply text-secondary-400 transition-colors;

        &:hover,
        &:focus {
          @apply text-secondary-600;
        }
      }
    </style>
  </body>
</html>
